/*
Neon Absolute
Finegan WonderMarch 27, 2019
Author — Nirmana Visual (Bali, Indonesia)
https://fontbundles.net/nirmana-visual/125346-neon-absolute-font-duo 
*/
@font-face {
  font-family: "absolute_neon_scriptregular";
  src: url("absoluteneonscript-webfont.woff2") format("woff2"),
    url("absoluteneonscript-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neon_absolute_sansregular";
  src: url("neonabsolutesans-webfont.woff2") format("woff2"),
    url("neonabsolutesans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
